 .table-center {
     margin: 0 auto;
 }

 .div-center {
     text-align: center;
 }

 #question {
     display: block;
     margin: auto;
     width: 80%;
     word-wrap: break-word;
     font-size: 20px;
 }