<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" th:href="@{/css/qz.css}" />

    <script th:src="@{/jquery-3.5.0.min.js}"></script>
    <script th:src="@{/sockjs-0.3.4.js}"></script>
    <script th:src="@{/stomp.js}"></script>
    <script th:src="@{/app.js}"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="div-center">
    <div style="margin-bottom: 25px;">
        <tr th:each="question : ${questions}">
            <div>
                <div>
                    <a href="#" th:description="${question.description}"
                            th:qid="${question.id}"
                            th:cost="${question.cost}"
                            th:text="${question.description}" class="question"></a>
                </div>
            </div>
        </tr>
    </div>
</div>
</body>
</html>

